:root {
  --cor-primaria: #283850;
  --cor-secundaria: #ffffff;
  --texto-claro: #ffffff;
}

/* EFEITO DE ILUMINAÇÃO */
.iluminacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(0, 102, 255, 0.25),
    transparent 120px
  );
  transition: background 0.05s;
}

@media (max-width: 768px) {
  .iluminacao {
    display: none;
  }
}
/* FIM DO EFEITO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--texto-claro);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

header {
  padding: 2rem;
  text-align: center;
  background-color: #0d1729;
}

header h1 {
  color: var(--cor-secundaria);
  font-size: 2rem;
}

nav {
  margin-top: 1rem;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: var(--cor-secundaria);
  margin-bottom: 1rem;
  font-size: 35px;
}

.projeto {
  background-color: #171d27;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 19px;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000;   /* Borda preta */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Sombra leve */
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #171d27;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 19px;
}

/* Adiciona espaçamento entre o texto 'Sobre mim' e as habilidades */
section#sobre p {
  padding-bottom: 2rem; /* Espaço maior embaixo do parágrafo */
}

.skills-list li {
  background-color: #0a3d62; /* azul escuro */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social a {
  color: var(--texto-claro);
  margin: 0 1rem;
  text-decoration: none;
}

.social a:hover {
  color: var(--cor-secundaria);
}
.skills-list a {
  color: white;
  text-decoration: none; /* remove o sublinhado */
}

.skills-list a:hover {
  color: #3aa1a1; /* muda a cor ao passar o mouse (opcional) */
}


section#sobre {
  font-size: 20px;
}


    